<div class="pricesTitle">PRECIOS</div>

<div class="enlaceNav" id="preciosLink"></div>

<div class="pricesTab">

<span>HABITACIONES:</span>
<div class="rums">
    <div class="roomPricesBox">
        <h2 class="boxNombre">BOX Rooms:</h2>
        <ul class="pricesList">
            <li>75 € por dia</li>
            <hr>
            <li>55 € por dia (Mínimo 3 noches)</li>
            <hr>
            <li>Servicio Duchas: 6€ por 30 minutos</li>
        </ul>
    </div>

    <div class="roomPricesSpace">
        <h2 class="spaceNombre">SPACE Rooms:</h2>
        <ul class="pricesList">
            <li>98 € por dia</li>
            <hr>
            <li>78 € por dia (Mínimo 3 noches)</li>
            <hr>
            <li>Incluido en la reserva</li>
        </ul>
    </div>

</div>

<span>SALA COWORKING:</span>

<div class="coworPrices">
    <div class="vaniPrices">
        <h2 class="vaniNombre">VANILLA:</h2>
        <P>23€/mes</P>
    </div>

    <div class="premPrices">
        <h2 class="premNombre">PREMIUM:</h2>
        <P>38€/mes</P>
    </div>

</div>


<span>EXTRAS:</span>

<table class="tablaPrices">
    <tr>
      <td>SETUP Streaming (cascos, leds, micrófono)</td>
      <td>10€ por 3h / 25€ por dia</td>
  
    </tr>
    <tr>
      <td>Servicio VIDEOJUEGOS y MANGA</td>
      <td>8€ por 5h / 15€ por dia</td>
  
    </tr>
    <tr>
      <td>Periféricos (ratón, teclado y/o mandos</td>
      <td>10€ por dia</td>
  
    </tr>
    <tr>
      <td>Consolas: PlayStation 3 y 4/ Nintendo (NES, 64, SWITCH)</td>
      <td> 8€ por 2h / 20€ por dia</td>
  
    </tr>
  </table>

</div>