
<div class="contactoTitle">CONTACTO</div>

<div class="enlaceNav" id="contactoLink"></div>

<a href = "mailto:info@coffeework.com?subject=Muy%20buenas%20Coffie%20" 
class="emailLink">info&#64;coffeework.com</a>
<h2 class="address">Nº: +34 765 409 170<br/>Calle de Fuencarral, 95<br/>28004 Madrid, España</h2>

<h2 class="overlayMap">Malasaña</h2>
<img src="assets\Group 2mapita2.svg" class="mapaCoffie"/>

<div class="horarioTitle"><b>HORARIO:</b> <hr> <small>Abierto 24H los 365 días del año</small></div>
