
<div>
  <div class="logo1">
    <h1>COFFEE</h1>
  </div>
  <div class="logo2">
    <h1>'N WORK</h1>
  </div>
</div>

<div
  id="inicio"
  class="logoFull"
></div>

<nav>
  <div class="cowork"></div>
  <ol class="leftBar">
    <li>
      <a href="#inicio">Inicio</a>
    </li>
    <li>
      <a href="#serviciosLink">Servicios</a>
    </li>
    <li>
      <a href="#preciosLink">Precios</a>
    </li>
  </ol>

  <ol class="rightBar">
    <li>
      <a href="#novedadesLink">Novedades</a>
    </li>
    <li>
      <a href="#contactoLink">Contacto</a>
    </li>
    <li>
      <a href="#reservasLink">Reservas</a>
    </li>
  </ol>
</nav>


<div class="textContain">
  <h2 class="textPresent">
    STREAMERS/<br />
    NÓMADAS/<br />
    GAMERS
  </h2>
  <p class="textDesc">
    Siente una pizca de <span class="destaca2">Akihabara</span><br />en tu
    barrio mientras disfrutas<br />de tu café
  </p>
</div>

<div>
  <img class="fotoInicio" src="assets\Cafeteria.jfif" />
</div>

<h3 class="coGaHo">COWORKING - GAMING - HOSTING</h3>



<app-servicios></app-servicios>
<app-precios></app-precios>
<app-novedades></app-novedades>
<app-contacto></app-contacto>
<app-reservar></app-reservar>